<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un article</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <form th:action="@{/save}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" required />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="prix">Prix:</label>
            <input type="number" class="form-control" id="prix" name="prix" min="0" step="0.01" required />
        </div>
        <div class="form-group">
            <label for="quantite">Quantité:</label>
            <input type="number" class="form-control" id="quantite" name="quantite" min="0" required />
        </div>
        <div class="form-group">
            <label for="categorie">Catégorie:</label>
            <select class="form-control" id="categorie" name="categorie.idCategorie" required>
                <option th:each="categorie : ${categories}"  th:text="${categorie.nom}" />
            </select>
        </div>
        <input th:text="${categorie.nom}" />

        <div class="form-group">
            <label for="images">Images:</label>
            <input type="file" class="form-control-file" id="images" name="images" multiple />
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
</body>
</html>
